@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login {
  @apply bg-[url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center bg-no-repeat;
}

.bg-dashboard {
  @apply bg-[url('/assets/img/background-body-admin.jpg')] bg-cover bg-center bg-no-repeat;
}

#table::-webkit-scrollbar {
  @apply h-[8px] bg-transparent;
}

#table::-webkit-scrollbar-track {
  @apply bg-transparent;
}

#table::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}

#pagination::-webkit-scrollbar {
  @apply h-[8px] bg-transparent;
}

#pagination::-webkit-scrollbar-track {
  @apply bg-transparent;
}

#pagination::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}

*::-webkit-scrollbar {
  @apply h-0 w-0;
}

.bg-card {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(120px);
  width: 100%;

  border-radius: 20px;
  background: linear-gradient(
      127.09deg,
      rgba(13, 27, 95, 0.94) 19.41%,
      rgba(2, 20, 112, 0.603) 76.65%
    )
    border-box;
}
.line-space {
  display: flex;
  height: 1px;
  width: 100%;
  margin-bottom: 20px;
  background: linear-gradient(
    90deg,
    rgba(224, 225, 226, 0) 0%,
    rgb(224, 225, 226) 47.22%,
    rgba(224, 225, 226, 0.157) 94.44%
  );
}

.bg-side-panel {
  background: linear-gradient(
    111.84deg,
    rgba(6, 11, 38, 0.94) 59.3%,
    rgba(26, 31, 55, 0) 100%
  );
  backdrop-filter: blur(10px);
  transition: 0.2s linear;
}
